# Prerequisites
*.d

# Compiled Object Files
*.o
*.obj
*.slo
*.lo

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Compiled Static Libraries
*.a
*.lib
*.lai
*.la

# Precompiled Headers
*.gch
*.pch

# Fortran Module Files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Logs and Temporary Files
*.log
*.tmp

# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.vscode/
*.swp
*.swo

# Backup Files
*~
*.bak

main
build/